
html {
  margin: 0;
  padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  width: 1280px;
  text-transform: uppercase;
  background-position: top center;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

button {
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*HEADER*/

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  z-index: 1;
}

.site-navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-active-link {
  color: #766357;
}

/*PROMO*/

.promo {
  position: relative;
  background-image: url(../img/background-photo.jpg);
  background-position-y: 20%;
  height: 510px;
  background-repeat: no-repeat;
  background-color: #000000;
}

.banner-welcome {
  position: absolute;
  top: 76px;
  left: 372px;
}

/*FEATURES*/

.features-reason {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features span {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reason {
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}

.reason-media {
  display: flex;
}

.reason-media:first-child {
  background-image: url(../img/photo-sity.jpg);
  background-repeat: no-repeat;
}

.reason-media:first-child {
  background-image: url(../img/photo-canyon.jpg);
  background-repeat: no-repeat;
}

.reason-media span,
.reason-media p {
  color: #ffffff;
}

.details,
.reason-list {
  list-style: none;
}

.details {
  display: flex;
  text-align: center;
  background-color: #ffffff;
}

.reason-list {
  display: flex;
  text-align: center;
  background-color: #eeeeee;
}

/*SEARCH-HOTEL*/

.search-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-hotel .btn {
  color: #ffffff;
  background-color: #766357;
}

.search-hotel .btn:hover {
  background-color: #604e43;
}

.search-hotel .btn:active {
  color: #928a85;
  background-color: #503e33;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: space-around;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-list  {
  display: flex;
  list-style: none;
}

.social-icon {
  display: flex;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  justify-content: center;
  margin-bottom: 5px;
}

.social-icon:hover {
  background-color: #669ec0;
}

.social-icon:active {
  background-color: #5496bd;
}

.htmlacademy span {
  line-height: 26px;
}


/*INNER*/

/*CHOICE*/

.choice {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

fieldset {
  border: none;
}

legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.filter-price h3 {
  font-size: 16px;
  font-weight: 700;
}

.show .btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 13px 37px;
  border-radius: 2px;
}

.show .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.min-price,
.max-price {
  color: #ffffff;
  background-color: transparent;
}

/*SORTING*/

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-list {
  display: flex;
  list-style: none;
}

.sorting-list li {
  color: #81b3d2;
}

.sorting-list button {
  display: block;
  background-color: transparent;
  border: none;
  color: #cacaca;
  padding: 0;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-list  button:hover {
  color: #81b3d2;
}

.sorting-list button:active {
  color: #000000;
  border: none;
}

.sorting-list button:visited {
  border: none;
  color: #81b3d2;
}

.breadcamps {
  display: flex;
}

/*HOTELS*/

.hotels {
  display: flex;
}

.hotels-description-header {
  font-size: 21px;
  line-height: 20px;
}

.hotels-description span {
  display: inline-block;
  color: #333333;
}

.hotels-description-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotels-description-order {
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.rank {
  margin-left: auto;
}

.rank span {
  color: #666666;
}

.hotels-description {
  display: flex;
  margin: 0;
  padding: 0;
}






